[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = modugusandeep
	email = modugusandeepreddy9@gmail.com
[color]
	ui = auto
